<header>
    <h2>List of universities</h2>
    <nav>
        <a href="/universities/list">Display list of universities</a>
        <a href="/universities/form">Add new university</a>
    </nav>
</header>